<div class="offCanvasNav">
    <div class="offCanvasMoveButton" {{action "toggleMenuVisible"}}><span {{bind-attr class="iconClass"}}></span></div>
    <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
</div>