<h1 class="postTitle">
    {{title}}
</h1>
<h2>
    {{display_description}}
</h2>
<iframe width="640" height="480" {{bind-attr src="video_url"}} frameborder="0" allowfullscreen></iframe>
<h3>
    {{article_text}}
</h3>